name: Run Notify Sync

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'
  push:
    branches:
      - main

env:
  GITHUB_NAME: arthurfsy2
  GITHUB_EMAIL: fsyflh@gmail.com

jobs:
  sync:
    name: 同步
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 设置Python版本
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: 'requirements.txt'

      - name: 安装依赖
        run: |
          pip install -r requirements.txt
      - name: 获取最新交付进度
        run: |
          python yu7_notify.py --orderId ${{ secrets.ORDERID }} --userId ${{ secrets.USERID }} --cookie ${{ secrets.COOKIE }} --device_token ${{ secrets.DEVICE_TOKEN }} --interval "5"
      - name: 提交
        run: |
          current_time=$(date +'%Y-%m-%d %H:%M:%S %Z') # 获取当前时间并转换为中国时区时间
          git config --local user.email "${{ env.GITHUB_EMAIL }}"
          git config --local user.name "${{ env.GITHUB_NAME }}"
          git add .
          git commit -m "已发送Bark通知，执行时间：${current_time}" || echo "nothing to commit"
          git push || echo "nothing to push"
